<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Тестовое задание</title>

    <!-- Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Rubik:ital,400,500,600,700,900&display=swap"
            rel="stylesheet"
    />

    <!-- Styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="/style/app.css">
    {% endblock %}

    <!-- icon -->

    <link rel="shortcut icon" href="/images/logo.ico"/>


</head>
<body>

<header class="header">
    <div class="container header__logo">
        <a href="/">
            <img class="header__images" src="/images/logo.png" alt="logo">
        </a>
    </div>
</header>

{% block body %}{% endblock %}

<footer class="footer">
    <div class="container footer__block">
        <img class="footer__logo" src="/images/logo.png" alt="logo">
        <p class="footer__signature">Славгородский В.В. © 2022</p>
    </div>
</footer>

</body>

</html>
