{% extends 'layouts/app.twig' %}

{% block body %}
    <main class="main">
        <div class="container wrapper">
            <div class="collection">
                {% for collection in collections %}
                    {% if not collection.name %}
                        <div class="collection__item">
                            <p>{{ collection ?? '' }}</p>
                        </div>
                    {% else %}
                        <a class="collection__item" href="/product/card/?id={{ collection.id }}">
                            <p>{{ collection.name }}</p>
                            <p>{{ collection.price }} рублей</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
